[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/openal-soft"]
	path = extern/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
